@model Classified.Models.LoginModel

@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="body-content outer-top-bd">
	<div class="container">
<div class="sign-in-page inner-bottom-sm">
			<div class="row">
         <div class="col-md-6 col-sm-6 sign-in">
	<h4 class="">sign in</h4>
	<p class="">Hello, Welcome to your account.</p>
	<div class="social-sign-in outer-top-xs">
		<a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Sign In with Facebook</a>
		<a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
	</div>
@using (Html.BeginForm("login", "account", 
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "register-form outer-top-xs" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
		   <div class="form-group">
                @Html.LabelFor(m => m.UserName,new { @class = "info-title" })
                @Html.TextBoxFor(m => m.UserName,new { @class = "form-control unicase-form-control text-input" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password,new { @class = "info-title" })
                @Html.PasswordFor(m => m.Password,new { @class = "form-control unicase-form-control text-input" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="radio outer-xs">
               @Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe)
                <a href="#" class="forgot-password pull-right">Forgot your Password?</a>
            </div>
       
        <input type="submit" value="Log in" class="btn-upper btn btn-primary checkout-page-button" />
    
    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
             </div>

                <div class="col-md-6 col-sm-6 create-new-account">
	<h4 class="checkout-subtitle">create a new account</h4>
	<p class="text title-tag-line">Create your own Unicase account.</p>
	@using (Html.BeginForm("register", "account", 
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "register-form outer-top-xs" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
		   <div class="form-group">
                @Html.LabelFor(m => m.UserName,new { @class = "info-title" })
                @Html.TextBoxFor(m => m.UserName,new { @class = "form-control unicase-form-control text-input" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password,new { @class = "info-title" })
                @Html.PasswordFor(m => m.Password,new { @class = "form-control unicase-form-control text-input" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword,new { @class = "info-title" })
                @Html.PasswordFor(m => m.ConfirmPassword,new { @class = "form-control unicase-form-control text-input" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
     
     
	  	<input type="submit" class="btn-upper btn btn-primary checkout-page-button" value="Sign UP">
 }
	<span class="checkout-subtitle outer-top-xs">Sign Up Today And You'll Be Able To :  </span>
	<div class="checkbox">
	  	<label class="checkbox">
		  	<input type="checkbox" id="speed" value="option1"> Speed your way through the checkout.
		</label>
		<label class="checkbox">
		  	<input type="checkbox" id="track" value="option2"> Track your orders easily.
		</label>
		<label class="checkbox">
		  	<input type="checkbox" id="keep" value="option3"> Keep a record of all your purchases.
		</label>
	</div>
</div>



</div></div>
        </div></div>
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
